@CHARSET "ISO-8859-1";

/*body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
@media (max-width: 768px) {
	.footer {
		height: 80px;
	}
	body {
		margin-bottom: 80px;
	}	
}
@media (max-width: 480px) {
	.btn.btn-register {
		margin-bottom: 10px
	}
}

.container .text-muted {
	margin: 20px 0 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.grid-view .button-column {
	width: 80px;
}

.grid-view .summary {
	margin: 0 0 5px;
	text-align: right;
}

.grid-view .filters input,.grid-view .filters select {
	border: 1px solid #ccc;
	width: 100%;
}
form .btn-group, form .row {
	margin-bottom: 15px;
}
.page-header {
	margin-top: 20px;
}